/* Links */
a,
a:focus,
a:hover {
  color: rgb(255, 255, 255);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: rgb(14, 14, 14);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: rgba(255, 255, 255, 0.44);
  border: .05rem solid rgba(255, 255, 255, 0.44);
}

/* Base structure */
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  background: url(Olympic-National-Park-Washington-Banner-Tree.jpeg) center center no-repeat;
  background-size: cover;
  margin: 0px;
  position: relative; 
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  /* max-width: 42em; */
}

/* Header */
.masthead {
  margin-bottom: 70px;
}

.masthead-brand {
  margin-bottom: 0;
  border-bottom: .25rem solid transparent;
  font-weight: bold; 
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  /* color: rgba(255, 255, 255, 0.5); */
  color: hsla(0, 0%, 100%, 0.701);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.502);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 85px;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/* Cover */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
#littlep {
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.7;
}

/* Footer */
.mastfoot {
  color: rgba(255, 255, 255, 0.44);
}

#footcolor {
  color: rgba(255, 255, 255, 0.44);
}

/* Latitude */
.latitude {
  height: 600px;
  margin-left: 65%;
}

h1 {
  font-size: 80px;
}

/* Screen sizes below 768 pixels */ 
@media (max-width: 768px) {
  .latitude {
    height: 650px;
    margin-left: 0%;
    background-color: rgba(0, 0, 0, 0.351);
    border-radius: 1%;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 70px;
    margin-bottom: 1rem;
  }
  .masthead {
    margin-bottom: 14px;
  }
  .cover {
    padding-top: 16px;
  }
  #footcolor {
    margin-top: 5px;
  }
  #littlep {
    margin-bottom: 30px;
    padding-left: 75px;
    padding-right: 75px;

  }
  .navbar-expand-md {
  }
}
@media (max-width: 645px) {
  /* .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    display: none;
    margin-bottom: 0px;
  } */
  #littlep{
    font-size: 20px;
  }
  h1 {
    font-size: 60px;
  }
  .nav-masthead .nav-link + .nav-link {
    margin-left: 55px;
  }
}
@media (max-width: 611px) {
  .nav-masthead .nav-link + .nav-link {
    margin-left: 35px;
  }
  #littlep{
    font-size: 18px;
  }
}
@media (max-width: 550px) {
  h1 {
    font-size: 56px;
}
#littlep{
  font-size: 16px;
}
}
@media (max-width: 491px){
  h1 {
    font-size: 52px;
  }
  #littlep{
    font-size: 16px;
  }
}